body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: Oswald, sans-serif;
}

.left {
  float: left;
  width: 300px;
}

.right {
  float: right;
  width: 300px;
}

.center {
  margin-left: 100px;
  margin-right: 100px;
}


.logo {
  width: 100px;
  height: 100px;
}