body {
  background-color: ivory;
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: Oswald, sans-serif;
}

img {
  float: left;
  margin: 10px;
}
